<a href="https://colab.research.google.com/github/Anujtiwari192/100DaysOfCode/blob/main/IITM_CricketCompetition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install -r requirements.txt

Requirement already satisfied: h5py==2.10.0 in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 1)) (2.10.0)
Requirement already satisfied: jupyter==1.0.0 in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 2)) (1.0.0)
Requirement already satisfied: Keras==2.4.3 in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 3)) (2.4.3)
Requirement already satisfied: Keras-Preprocessing==1.1.2 in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 4)) (1.1.2)
Requirement already satisfied: numpy==1.19.5 in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 5)) (1.19.5)
Collecting pandas==1.2.4
  Downloading https://files.pythonhosted.org/packages/51/51/48f3fc47c4e2144da2806dfb6629c4dd1fa3d5a143f9652b141e979a8ca9/pandas-1.2.4-cp37-cp37m-manylinux1_x86_64.whl (9.9MB)
     |████████████████████████████████| 9.9MB 10.2MB/s
Collecting scikit-learn==0.24.1
  Downloading https://files.pythonhosted.org/packages/f3/74/eb899f41d55f957e2591cde5528e75871f817d9fb46d4732423ecaca736d/scikit_learn-0.24.1-cp37-cp37m-manylinux2010_x86_64.whl (22.3MB)
     |████████████████████████████████| 22.3MB 1.4MB/s
Collecting scipy==1.6.2
  Downloading https://files.pythonhosted.org/packages/75/91/ee427c42957f8c4cbe477bf4f8b7f608e003a17941e509d1777e58648cb3/scipy-1.6.2-cp37-cp37m-manylinux1_x86_64.whl (27.4MB)
     |████████████████████████████████| 27.4MB 102kB/s
Requirement already satisfied: seaborn==0.11.1 in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 9)) (0.11.1)
Requirement already satisfied: tensorflow==2.4.1 in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 10)) (2.4.1)
Requirement already satisfied: torch==1.8.1 in /usr/local/lib/python3.7/dist-packages (from -r requirements.txt (line 11)) (1.8.1+cu101)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from h5py==2.10.0->-r requirements.txt (line 1)) (1.15.0)
Requirement already satisfied: jupyter-console in /usr/local/lib/python3.7/dist-packages (from jupyter==1.0.0->-r requirements.txt (line 2)) (5.2.0)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.7/dist-packages (from jupyter==1.0.0->-r requirements.txt (line 2)) (4.10.1)
Requirement already satisfied: notebook in /usr/local/lib/python3.7/dist-packages (from jupyter==1.0.0->-r requirements.txt (line 2)) (5.3.1)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from jupyter==1.0.0->-r requirements.txt (line 2)) (5.6.1)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.7/dist-packages (from jupyter==1.0.0->-r requirements.txt (line 2)) (7.6.3)
Requirement already satisfied: qtconsole in /usr/local/lib/python3.7/dist-packages (from jupyter==1.0.0->-r requirements.txt (line 2)) (5.0.3)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from Keras==2.4.3->-r requirements.txt (line 3)) (3.13)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.2.4->-r requirements.txt (line 6)) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.2.4->-r requirements.txt (line 6)) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.1->-r requirements.txt (line 7)) (1.0.1)
Collecting threadpoolctl>=2.0.0
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.7/dist-packages (from seaborn==0.11.1->-r requirements.txt (line 9)) (3.2.2)
Requirement already satisfied: wrapt~=1.12.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.4.1->-r requirements.txt (line 10)) (1.12.1)
Requirement already satisfied: opt-einsum~=3.3.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.4.1->-r requirements.txt (line 10)) (3.3.0)
Requirement already satisfied: grpcio~=1.32.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.4.1->-r requirements.txt (line 10)) (1.32.0)
Requirement already satisfied: gast==0.3.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.4.1->-r requirements.txt (line 10)) (0.3.3)
Requirement already satisfied: typing-extensions~=3.7.4 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.4.1->-r requirements.txt (line 10)) (3.7.4.3)
Requirement already satisfied: google-pasta~=0.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.4.1->-r requirements.txt (line 10)) (0.2.0)
Requirement already satisfied: tensorflow-estimator<2.5.0,>=2.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.4.1->-r requirements.txt (line 10)) (2.4.0)
Requirement already satisfied: tensorboard~=2.4 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.4.1->-r requirements.txt (line 10)) (2.4.1)
Requirement already satisfied: wheel~=0.35 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.4.1->-r requirements.txt (line 10)) (0.36.2)
Requirement already satisfied: flatbuffers~=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.4.1->-r requirements.txt (line 10)) (1.12)
Requirement already satisfied: astunparse~=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.4.1->-r requirements.txt (line 10)) (1.6.3)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.4.1->-r requirements.txt (line 10)) (3.12.4)
Requirement already satisfied: termcolor~=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.4.1->-r requirements.txt (line 10)) (1.1.0)
Requirement already satisfied: absl-py~=0.10 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.4.1->-r requirements.txt (line 10)) (0.12.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from jupyter-console->jupyter==1.0.0->-r requirements.txt (line 2)) (1.0.18)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from jupyter-console->jupyter==1.0.0->-r requirements.txt (line 2)) (5.3.5)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from jupyter-console->jupyter==1.0.0->-r requirements.txt (line 2)) (5.5.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from jupyter-console->jupyter==1.0.0->-r requirements.txt (line 2)) (2.6.1)
Requirement already satisfied: traitlets>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter==1.0.0->-r requirements.txt (line 2)) (5.0.5)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter==1.0.0->-r requirements.txt (line 2)) (5.1.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter==1.0.0->-r requirements.txt (line 2)) (2.11.3)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter==1.0.0->-r requirements.txt (line 2)) (1.5.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter==1.0.0->-r requirements.txt (line 2)) (0.2.0)
Requirement already satisfied: jupyter-core>=4.4.0 in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter==1.0.0->-r requirements.txt (line 2)) (4.7.1)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter==1.0.0->-r requirements.txt (line 2)) (0.9.4)
Requirement already satisfied: nbformat in /usr/local/lib/python3.7/dist-packages (from notebook->jupyter==1.0.0->-r requirements.txt (line 2)) (5.1.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 2)) (1.4.3)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 2)) (0.4.4)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 2)) (0.8.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 2)) (3.3.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 2)) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 2)) (0.3)
Requirement already satisfied: jupyterlab-widgets>=1.0.0; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter==1.0.0->-r requirements.txt (line 2)) (1.0.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->jupyter==1.0.0->-r requirements.txt (line 2)) (3.5.1)
Requirement already satisfied: qtpy in /usr/local/lib/python3.7/dist-packages (from qtconsole->jupyter==1.0.0->-r requirements.txt (line 2)) (1.9.0)
Requirement already satisfied: pyzmq>=17.1 in /usr/local/lib/python3.7/dist-packages (from qtconsole->jupyter==1.0.0->-r requirements.txt (line 2)) (22.0.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn==0.11.1->-r requirements.txt (line 9)) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn==0.11.1->-r requirements.txt (line 9)) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn==0.11.1->-r requirements.txt (line 9)) (1.3.1)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow==2.4.1->-r requirements.txt (line 10)) (56.0.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow==2.4.1->-r requirements.txt (line 10)) (1.8.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow==2.4.1->-r requirements.txt (line 10)) (1.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow==2.4.1->-r requirements.txt (line 10)) (0.4.4)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow==2.4.1->-r requirements.txt (line 10)) (1.28.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow==2.4.1->-r requirements.txt (line 10)) (3.3.4)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.4->tensorflow==2.4.1->-r requirements.txt (line 10)) (2.23.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.0->jupyter-console->jupyter==1.0.0->-r requirements.txt (line 2)) (0.2.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-console->jupyter==1.0.0->-r requirements.txt (line 2)) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-console->jupyter==1.0.0->-r requirements.txt (line 2)) (4.4.2)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-console->jupyter==1.0.0->-r requirements.txt (line 2)) (0.8.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-console->jupyter==1.0.0->-r requirements.txt (line 2)) (0.7.5)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->notebook->jupyter==1.0.0->-r requirements.txt (line 2)) (1.1.1)
Requirement already satisfied: ptyprocess; os_name != "nt" in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.1->notebook->jupyter==1.0.0->-r requirements.txt (line 2)) (0.7.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat->notebook->jupyter==1.0.0->-r requirements.txt (line 2)) (2.6.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->jupyter==1.0.0->-r requirements.txt (line 2)) (0.5.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->jupyter==1.0.0->-r requirements.txt (line 2)) (20.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.4->tensorflow==2.4.1->-r requirements.txt (line 10)) (1.3.0)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow==2.4.1->-r requirements.txt (line 10)) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow==2.4.1->-r requirements.txt (line 10)) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow==2.4.1->-r requirements.txt (line 10)) (4.2.1)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard~=2.4->tensorflow==2.4.1->-r requirements.txt (line 10)) (3.10.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow==2.4.1->-r requirements.txt (line 10)) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow==2.4.1->-r requirements.txt (line 10)) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow==2.4.1->-r requirements.txt (line 10)) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.4->tensorflow==2.4.1->-r requirements.txt (line 10)) (1.24.3)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.4->tensorflow==2.4.1->-r requirements.txt (line 10)) (3.1.0)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth<2,>=1.6.3->tensorboard~=2.4->tensorflow==2.4.1->-r requirements.txt (line 10)) (0.4.8)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard~=2.4->tensorflow==2.4.1->-r requirements.txt (line 10)) (3.4.1)
ERROR: google-colab 1.0.0 has requirement pandas~=1.1.0; python_version >= "3.0", but you'll have pandas 1.2.4 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: pandas, scipy, threadpoolctl, scikit-learn
  Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
  Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
  Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
Successfully installed pandas-1.2.4 scikit-learn-0.24.1 scipy-1.6.2 threadpoolctl-2.1.0

In [ ]:
!python --version

Python 3.7.10

In [ ]:
!apt-get install python3.8

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  libpython3.8-minimal libpython3.8-stdlib python3.8-minimal
Suggested packages:
  python3.8-venv python3.8-doc binfmt-support
The following NEW packages will be installed:
  libpython3.8-minimal libpython3.8-stdlib python3.8 python3.8-minimal
0 upgraded, 4 newly installed, 0 to remove and 34 not upgraded.
Need to get 4,669 kB of archives.
After this operation, 18.5 MB of additional disk space will be used.
Get:1 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 libpython3.8-minimal amd64 3.8.9-1+bionic1 [761 kB]
Get:2 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 python3.8-minimal amd64 3.8.9-1+bionic1 [1,823 kB]
Get:3 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 libpython3.8-stdlib amd64 3.8.9-1+bionic1 [1,656 kB]
Get:4 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 python3.8 amd64 3.8.9-1+bionic1 [430 kB]
Fetched 4,669 kB in 3s (1,849 kB/s)
Selecting previously unselected package libpython3.8-minimal:amd64.
(Reading database ... 160690 files and directories currently installed.)
Preparing to unpack .../libpython3.8-minimal_3.8.9-1+bionic1_amd64.deb ...
Unpacking libpython3.8-minimal:amd64 (3.8.9-1+bionic1) ...
Selecting previously unselected package python3.8-minimal.
Preparing to unpack .../python3.8-minimal_3.8.9-1+bionic1_amd64.deb ...
Unpacking python3.8-minimal (3.8.9-1+bionic1) ...
Selecting previously unselected package libpython3.8-stdlib:amd64.
Preparing to unpack .../libpython3.8-stdlib_3.8.9-1+bionic1_amd64.deb ...
Unpacking libpython3.8-stdlib:amd64 (3.8.9-1+bionic1) ...
Selecting previously unselected package python3.8.
Preparing to unpack .../python3.8_3.8.9-1+bionic1_amd64.deb ...
Unpacking python3.8 (3.8.9-1+bionic1) ...
Setting up libpython3.8-minimal:amd64 (3.8.9-1+bionic1) ...
Setting up python3.8-minimal (3.8.9-1+bionic1) ...
Setting up libpython3.8-stdlib:amd64 (3.8.9-1+bionic1) ...
Setting up python3.8 (3.8.9-1+bionic1) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

In [ ]:
!python3.8 --version

Python 3.8.9

In [ ]:
!alias python=python3.8

In [ ]:
import pandas as pd

In [ ]:
playerListDf = pd.read_csv('playersList.csv')

In [ ]:
playerListDf

            Players
0         AM Rahane
1       RA Tripathi
2    MJ McClenaghan
3         SPD Smith
4        SL Malinga
..              ...
578      SS Agarwal
579        NB Singh
580        MJ Henry
581        JL Denly
582    N Jagadeesan

[583 rows x 1 columns]

In [ ]:
playerListAltered = playerListDf.reset_index(level=0)
playerListAltered = playerListAltered.set_index('Players').T.to_dict('list')
playerListAltered['A Nehra'][0]

180

In [ ]:
playerListAltered

In [ ]:
matchDf = pd.read_csv('all_matches.csv',low_memory=False)

In [ ]:
matchDf.head()

   match_id   season  ... other_wicket_type other_player_dismissed
0    335982  2007/08  ...               NaN                    NaN
1    335982  2007/08  ...               NaN                    NaN
2    335982  2007/08  ...               NaN                    NaN
3    335982  2007/08  ...               NaN                    NaN
4    335982  2007/08  ...               NaN                    NaN

[5 rows x 22 columns]

In [ ]:
matchDfAltered = matchDf.fillna(-1)

In [ ]:
matchDfAltered['strikerId'] = matchDfAltered['striker'].apply(lambda x : -1 if x == -1 else playerListAltered[x][0])
matchDfAltered['non_strikerId'] = matchDfAltered['non_striker'].apply(lambda x : -1 if x == -1 else playerListAltered[x][0])
matchDfAltered['bowlerId'] = matchDfAltered['bowler'].apply(lambda x : -1 if x == -1 else playerListAltered[x][0])
matchDfAltered['player_dismissedId'] = matchDfAltered['player_dismissed'].apply(lambda x : -1 if x == -1 else playerListAltered[x][0])
matchDfAltered['other_player_dismissedId'] = matchDfAltered['other_player_dismissed'].apply(lambda x : -1 if x == -1 else playerListAltered[x][0])

In [ ]:
matchDfAltered.head()

   match_id   season  ... player_dismissedId other_player_dismissedId
0    335982  2007/08  ...                 -1                       -1
1    335982  2007/08  ...                 -1                       -1
2    335982  2007/08  ...                 -1                       -1
3    335982  2007/08  ...                 -1                       -1
4    335982  2007/08  ...                 -1                       -1

[5 rows x 27 columns]

In [ ]:
matchDf

        match_id   season  ... other_wicket_type other_player_dismissed
0         335982  2007/08  ...               NaN                    NaN
1         335982  2007/08  ...               NaN                    NaN
2         335982  2007/08  ...               NaN                    NaN
3         335982  2007/08  ...               NaN                    NaN
4         335982  2007/08  ...               NaN                    NaN
...          ...      ...  ...               ...                    ...
194349   1254060     2021  ...               NaN                    NaN
194350   1254060     2021  ...               NaN                    NaN
194351   1254060     2021  ...               NaN                    NaN
194352   1254060     2021  ...               NaN                    NaN
194353   1254060     2021  ...               NaN                    NaN

[194354 rows x 22 columns]

In [ ]:
m = matchDf[(matchDf['ball']<=5.6) & (m['match_id'] == 335982) & (m['innings'] == 1)]
print(m['runs_off_bat'].sum())
print(m['extras'].sum())
print(m['striker'].unique())
print(m['non_striker'].unique())
print(m['bowler'].unique())

51
10
['SC Ganguly' 'BB McCullum' 'RT Ponting']
['BB McCullum' 'SC Ganguly']
['P Kumar' 'Z Khan' 'AA Noffke']

In [ ]:
m2 = matchDf[(matchDf['ball']<=5.6)]

m3 = m2.groupby(['match_id','innings'])['batting_team'].unique().reset_index()
m31 = m2.groupby(['match_id','innings'])['bowling_team'].unique().reset_index()
m4 = m2.groupby(['match_id','innings','striker','bowler']).sum()[['runs_off_bat','extras','wides','noballs','byes','legbyes']].reset_index()
m4.head(10)

   match_id  innings      striker      bowler  ...  wides  noballs  byes  legbyes
0    335982        1  BB McCullum   AA Noffke  ...    5.0      0.0   0.0      1.0
1    335982        1  BB McCullum     P Kumar  ...    1.0      0.0   0.0      1.0
2    335982        1  BB McCullum      Z Khan  ...    0.0      0.0   0.0      0.0
3    335982        1   RT Ponting      Z Khan  ...    0.0      0.0   0.0      0.0
4    335982        1   SC Ganguly   AA Noffke  ...    0.0      0.0   0.0      0.0
5    335982        1   SC Ganguly     P Kumar  ...    0.0      0.0   0.0      2.0
6    335982        1   SC Ganguly      Z Khan  ...    0.0      0.0   0.0      0.0
7    335982        2     CL White  AB Agarkar  ...    0.0      0.0   0.0      0.0
8    335982        2     CL White    AB Dinda  ...    0.0      0.0   0.0      0.0
9    335982        2    JH Kallis  AB Agarkar  ...    0.0      0.0   0.0      0.0

[10 rows x 10 columns]

In [ ]:
result = pd.concat([m3,m31, m4], axis=1, join="inner")
result

      match_id  innings                   batting_team  ...  noballs  byes legbyes
0       335982        1        [Kolkata Knight Riders]  ...      0.0   0.0     1.0
1       335982        2  [Royal Challengers Bangalore]  ...      0.0   0.0     1.0
2       335983        1          [Chennai Super Kings]  ...      0.0   0.0     0.0
3       335983        2              [Kings XI Punjab]  ...      0.0   0.0     0.0
4       335984        1             [Rajasthan Royals]  ...      0.0   0.0     0.0
...        ...      ...                            ...  ...      ...   ...     ...
1659   1254058        2  [Royal Challengers Bangalore]  ...      0.0   0.0     0.0
1660   1254059        1          [Chennai Super Kings]  ...      0.0   0.0     0.0
1661   1254059        2               [Delhi Capitals]  ...      0.0   0.0     0.0
1662   1254060        1        [Kolkata Knight Riders]  ...      0.0   0.0     0.0
1663   1254060        2          [Sunrisers Hyderabad]  ...      0.0   0.0     5.0

[1664 rows x 16 columns]

In [ ]:
new_df = pd.merge(m3,m31, how='left', left_on=['match_id','innings'], right_on = ['match_id','innings'])
new_df = pd.merge(new_df,m4, how='left', left_on=['match_id','innings'], right_on = ['match_id','innings'])


new_df

       match_id  innings             batting_team  ... noballs byes legbyes
0        335982        1  [Kolkata Knight Riders]  ...     0.0  0.0     1.0
1        335982        1  [Kolkata Knight Riders]  ...     0.0  0.0     1.0
2        335982        1  [Kolkata Knight Riders]  ...     0.0  0.0     0.0
3        335982        1  [Kolkata Knight Riders]  ...     0.0  0.0     0.0
4        335982        1  [Kolkata Knight Riders]  ...     0.0  0.0     0.0
...         ...      ...                      ...  ...     ...  ...     ...
14028   1254060        2    [Sunrisers Hyderabad]  ...     0.0  0.0     0.0
14029   1254060        2    [Sunrisers Hyderabad]  ...     0.0  0.0     0.0
14030   1254060        2    [Sunrisers Hyderabad]  ...     0.0  0.0     0.0
14031   1254060        2    [Sunrisers Hyderabad]  ...     0.0  0.0     0.0
14032   1254060        2    [Sunrisers Hyderabad]  ...     0.0  0.0     0.0

[14033 rows x 12 columns]

In [ ]:
# !unzip all_matches.zip

Archive:  all_matches.zip
  inflating: all_matches.csv

In [ ]:
# !ls

all_matches.csv  playersList.csv   sample_data
all_matches.zip  requirements.txt

In [ ]:
teamsDict = {}
i = 0
for val in matchDf['batting_team'].unique():
  teamsDict[val] = i
  i = i+1
teamsDict

{'Chennai Super Kings': 2,
 'Deccan Chargers': 6,
 'Delhi Capitals': 14,
 'Delhi Daredevils': 5,
 'Gujarat Lions': 12,
 'Kings XI Punjab': 3,
 'Kochi Tuskers Kerala': 8,
 'Kolkata Knight Riders': 0,
 'Mumbai Indians': 7,
 'Pune Warriors': 9,
 'Rajasthan Royals': 4,
 'Rising Pune Supergiant': 13,
 'Rising Pune Supergiants': 11,
 'Royal Challengers Bangalore': 1,
 'Sunrisers Hyderabad': 10}

0         0
1         0
2         0
3         0
4         0
         ..
14028    10
14029    10
14030    10
14031    10
14032    10
Name: batting_team, Length: 14033, dtype: int64

In [ ]:
new_df['strikerId'] = new_df['striker'].apply(lambda x : -1 if x == -1 else playerListAltered[x][0])
new_df['bowlerId'] = new_df['bowler'].apply(lambda x : -1 if x == -1 else playerListAltered[x][0])
new_df['batting_teamId'] = new_df['batting_team'].apply(lambda x : teamsDict[x[0]])
new_df['bowling_teamId'] = new_df['bowling_team'].apply(lambda x : teamsDict[x[0]])

In [ ]:
new_df.head(20)

    match_id  innings  ... batting_teamId bowling_teamId
0     335982        1  ...              0              1
1     335982        1  ...              0              1
2     335982        1  ...              0              1
3     335982        1  ...              0              1
4     335982        1  ...              0              1
5     335982        1  ...              0              1
6     335982        1  ...              0              1
7     335982        2  ...              1              0
8     335982        2  ...              1              0
9     335982        2  ...              1              0
10    335982        2  ...              1              0
11    335982        2  ...              1              0
12    335982        2  ...              1              0
13    335982        2  ...              1              0
14    335982        2  ...              1              0
15    335982        2  ...              1              0
16    335982        2  ...              1              0
17    335982        2  ...              1              0
18    335982        2  ...              1              0
19    335982        2  ...              1              0

[20 rows x 16 columns]

In [ ]:
new_df[(new_df['striker']=='Q de Kock') & (new_df['bowling_team']=='Kolkata Knight Riders')]

       match_id  innings  ... batting_teamId bowling_teamId
7206     733985        1  ...              5              0
7207     733985        1  ...              5              0
7208     733985        1  ...              5              0
8743     980903        1  ...              5              0
8744     980903        1  ...              5              0
9138     980951        1  ...              5              0
10886   1136563        1  ...              1              0
11359   1136589        1  ...              1              0
11360   1136589        1  ...              1              0
11361   1136589        1  ...              1              0
11362   1136589        1  ...              1              0
12693   1178422        2  ...              7              0
12694   1178422        2  ...              7              0
12855   1178431        2  ...              7              0
12856   1178431        2  ...              7              0
12857   1178431        2  ...              7              0
12858   1178431        2  ...              7              0
13210   1216508        1  ...              7              0
13211   1216508        1  ...              7              0
13544   1216526        2  ...              7              0
13545   1216526        2  ...              7              0
13546   1216526        2  ...              7              0
13547   1216526        2  ...              7              0

[23 rows x 16 columns]